<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Rental"
            id="com.magellium.rental.ui.category1">
      </category>
      <view
            name="Rental View"
            category="com.magellium.rental.ui.category1"
            class="com.magellium.rental.ui.views.RentalView"
            restorable="true"
            id="com.magellium.rental.ui.view.rental">
      </view>
      <view
            name="Rental Agency View"
            category="com.magellium.rental.ui.category1"
            class="com.magellium.rental.ui.views.RentalAgencyView"
            restorable="true"
            id="com.magellium.rental.ui.view.rental.agency">
      </view>
      <view
            name="Customer View"
            class="com.magellium.rental.ui.views.CustomerView"
            restorable="true"
            id="com.magellium.rental.ui.view.customer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Rental"
            class="perspective.RentalPerspective"
            id="perspective.RentalPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Rental Preferences"
            class="com.magellium.rental.ui.preferences.RentalPreferencePage"
            id="com.magellium.rental.ui.preferences">
      </page>
      <page
            name="Palettes"
            class="com.magellium.rental.ui.preferences.PalettePreferencePage"
            id="com.magellium.rental.ui.page1">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.magellium.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Hello World"
            id="com.magellium.rental.ui.commands.helloworld">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.magellium.rental.ui.commands.helloworld"
            class="com.magellium.rental.ui.commands.HelloWorldHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Mon menu">
            <command
                  commandId="com.magellium.rental.ui.commands.helloworld"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.magellium.rental.ui.commands.helloworld"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.magellium.rental.ui.view.rental.agency?after=additions">
         <command
               commandId="com.magellium.rental.ui.commands.helloworld"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.magellium.rental.ui.palette">
      <palette
            paletteClass="com.magellium.rental.ui.palettes.DefaultPalette"
            name="Default"
            id="com.magellium.rental.ui.palette.default">
      </palette>
      <palette
            paletteClass="com.magellium.rental.ui.palettes.MochePalette"
            name="Moche"
            id="com.magellium.rental.ui.palette.moche">
      </palette>
   </extension>
   <extension
         id="com.magellium.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
