<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.magellium.rental.ui.category1"
            name="Rental">
      </category>
      <view
            category="com.magellium.rental.ui.category1"
            class="com.magellium.rental.ui.views.RentalView"
            id="com.magellium.rental.ui.view.rental"
            name="Rental View"
            restorable="true">
      </view>
      <view
            category="com.magellium.rental.ui.category1"
            class="com.magellium.rental.ui.views.RentalAgencyView"
            id="com.magellium.rental.ui.view.rental.agency"
            name="Rental Agency View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="perspective.RentalPerspective"
            id="perspective.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.magellium.rental.ui.preferences.RentalPreferencePage"
            id="com.magellium.rental.ui.preferences"
            name="Rental Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.magellium.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
