<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.magellium.rental.ui.category1"
            name="Rental">
      </category>
      <view
            category="com.magellium.rental.ui.category1"
            class="com.magellium.rental.ui.views.RentalView"
            id="com.magellium.rental.ui.view.rental"
            name="Rental View"
            restorable="true">
      </view>
      <view
            category="com.magellium.rental.ui.category1"
            class="com.magellium.rental.ui.views.RentalAgencyView"
            id="com.magellium.rental.ui.view.rental.agency"
            name="Rental Agency View"
            restorable="true">
      </view>
      <view
            class="com.magellium.rental.ui.views.CustomerView"
            id="com.magellium.rental.ui.view.customer"
            name="Customer View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="perspective.RentalPerspective"
            id="perspective.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.magellium.rental.ui.preferences.RentalPreferencePage"
            id="com.magellium.rental.ui.preferences"
            name="Rental Preferences">
      </page>
      <page
            class="com.magellium.rental.ui.preferences.PalettePreferencePage"
            id="com.magellium.rental.ui.page1"
            name="Palettes">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.magellium.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.magellium.rental.ui.commands.helloworld"
            name="Hello World">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.magellium.rental.ui.commands.HelloWorldHandler"
            commandId="com.magellium.rental.ui.commands.helloworld">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Mon menu">
            <command
                  commandId="com.magellium.rental.ui.commands.helloworld"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.magellium.rental.ui.commands.helloworld"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.magellium.rental.ui.view.rental.agency?after=additions">
         <command
               commandId="com.magellium.rental.ui.commands.helloworld"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.magellium.rental.ui.palette">
      <palette
            id="com.magellium.rental.ui.palette.default"
            name="Default"
            paletteClass="com.magellium.rental.ui.palettes.DefaultPalette">
      </palette>
      <palette
            id="com.magellium.rental.ui.palette.moche"
            name="Moche"
            paletteClass="com.magellium.rental.ui.palettes.MochePalette">
      </palette>
   </extension>

</plugin>
